.container {
  width: 70vw;
}

.all-tab {
  border-bottom: 2px solid #6161ec;
  display: inline-block;
  user-select: none;
  padding: 6px 10px;
  border-radius: 12px;
  cursor: pointer;
}

.all-tab:hover {
  background-color: #c0e2ff;
}

.all-tab:active {
  background-color: #9ed2ff;
  border-bottom: 0px;
  transform: translate(0, 0.3rem);
}

.search-div {
  height: 50px;
}

.remove-card {
  position: absolute;
  right: 0;
  top: 0;
}

.cards-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
}
